h1 {
  text-align: center;
}
input {
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #000;
}
li {
  padding-bottom: 10px;
}
.item-controls {
  float: right;
}
.completed {
    color: #009926;
}
.not_completed {
    color: #d14;
}